@font-face {
    font-family: 'noodle';
    src: url('../fonts/big_noodle_titling-webfont.eot');
    src: url('../fonts/big_noodle_titling-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/big_noodle_titling-webfont.woff2') format('woff2'), url('fonts/big_noodle_titling-webfont.woff') format('woff'), url('fonts/big_noodle_titling-webfont.ttf') format('truetype'), url('fonts/big_noodle_titling-webfont.svg#bignoodletitlingregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gravity';
    src: url('../fonts/gravity-bold-webfont.eot');
    src: url('../fonts/gravity-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gravity-bold-webfont.woff2') format('woff2'),
         url('../fonts/gravity-bold-webfont.woff') format('woff'),
         url('../fonts/gravity-bold-webfont.ttf') format('truetype'),
         url('../fonts/gravity-bold-webfont.svg#gravitybold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gravity';
    src: url('../fonts/gravity-book-webfont.eot');
    src: url('../fonts/gravity-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gravity-book-webfont.woff2') format('woff2'),
         url('../fonts/gravity-book-webfont.woff') format('woff'),
         url('../fonts/gravity-book-webfont.ttf') format('truetype'),
         url('../fonts/gravity-book-webfont.svg#gravitybook') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: gravity !important;
}

h1 {
  font-family: noodle;
}

p {
  font-size: 20px;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

section {
  overflow: auto;
  height: auto !important;
}

.upload-fp {
  margin-top: 10px;
  margin-bottom: 10px;
}

#header {
    display: block;
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    background-position: center 150px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}
#hero {
    background: url('../img/bg-2-min.jpg') center;
    height: 100% !important;
    background-size: cover;
    padding-top: 145px;
    padding: 0px;
}
#hero-call {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -12.5%;
}
.navbar {
    padding: 20px 40px;
    width: 100%;
    box-sizing: border-box;
    background: rgba(33, 119, 225, 0);
    border: none;
    margin-bottom: 0;
}
.navbar.top-nav-collapse {
    background: rgba(33, 119, 225, 1);
}
.navbar.top-nav-collapse .nav.navbar-nav > li a {
    color: #2177e1;
    background: white;
}
.navbar:not(.top-nav-collapse) .logo {
    display: none;
}
.logo {
    height: 75px;
    width: auto;
    float: left;
}
.logo-big {
    height: 300px;
    width: auto;
    overflow: auto;
    display: block;
    margin-left: 125px;
}
.nav.navbar-nav {
    float: right;
    height: 75px;
    margin: 0;
    font-family: noodle !important;
    font-size: 25px;
    cursor: pointer;
    padding-top: 15px;
    box-sizing: border-box;
    letter-spacing: 3px;
}
.nav.navbar-nav > li a, nav.navbar-nav > li, .navbar-nav > li a:focus {
    float: right;
    list-style: none;
    margin-left: 25px;
    padding: 10px 15px;
    color: white;
    display: block;
}
.top-nav-collapse.navbar-nav > .active > a {
  color: #2177e1 !important;
  background: white !important;
}
.navbar-nav > .active > a {
  color: white !important;
  background: inherit !important;
}
.nav.navbar-nav > li a:hover {
    background: #e14521 !important;
    color: white !important;
}
#hero-call h2 {
    background: #e14521;
    color: white;
    font-size: 50px;
    font-family: noodle;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 20px;
    overflow: auto;
    display: inline-block;
}
#hero-call .half-right h2 {
    background: none;
    margin: 0;
    text-align: center;
}
#hero-form {
    width: 25%;
    position: absolute;
    bottom: 0;
    right: 40px;
    /*right: 50%;
    margin-right: -40%;*/

    font-family: noodle;
    background: rgba(33, 119, 225, 1);
    padding: 40px;
    overflow: auto;
}
#hero-form h2 {
    padding-top: 0px;
    padding-bottom: 40px;
}
#hero-form input[type="text"] {
    border: none;
    padding: 10px;
    font-size: 20px;
    color: #2177e1;
    clear: both;
    float: right;
    width: 100%;
    margin-bottom: 20px;
    font-family: noodle;
}
#hero-form input[type="submit"], #id-form-right input[type="submit"] {
    padding: 10px;
    font-size: 20px;
    border: none;
    width: 100%;
    background: #e14521;
    color: white;
    font-family: noodle;
    cursor: pointer;
}

#id-form{
    font-family: noodle;
    font-size:20px;
    color:black;
    text-align: left;
    overflow: hidden;
    padding-left: 3vmin;
    width: 80%;
    float: right;
}

#id-form input[name="dac"], #id-form input[name="dad"], #id-form input[name="dcs"] {
  float: left;
  padding-bottom: 0;
}

#id-form input[name="dcs"] {
  clear: both;
}

#id-form table {
  float: left;
  clear: both;
}

#id-form h2 {
    font-size: 1.15vw;  /* was 30px */
    padding-top: 0px;
    padding-bottom: 10px;
}

#id-form input, #id-form select {
  font-size: 2vmin;
  font-family: noodle;
  color:black;
  border: none;
  background: rgba(255, 255, 255, .75);
  padding : .15vmin;
}

#id-form input[type="text"] {
  margin-bottom: .5vmin;
  color:black;
}

.id-form-password {
  width:60%;
  font-size: 2vmin;
  font-family: noodle;
  color:black;
  background: rgba(255, 255, 255, .75);
  margin: 1vmin;
}

#id-form input[type="date"] {
  max-width:16vmin;
  line-height: .75;
}

#id-form input[type="number"] {
  max-width: 9vmin;
}

#id-form input[type="text"].thirty {
  width: 30%;
}

#id-form input[type="text"].eighty {
  width: 80%;
}

#id-form input[type="text"].sixty {
  width: 60%;
}

#id-form input[type="submit"] {
  padding: 10px;
  font-size: 1vw; /* was 20px */
  border: none;
  width:50%;
  background: #e14521;
  color: white;
  font-family: noodle;
  margin-left: 10%;
}

#id-form table td {
  padding-right: 1vmin;
}

.id-header {
  padding-top: 1vmin;
  font-size: 2.5vmin;
  color: red;
}

.form-head {
  padding-left: 20px;
  padding-top: .5vmin;
  padding-bottom: .5vmin;
  font-size: 30px;
  overflow: auto;
  width: 100%;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: url("../img/id-top-header-bg.png");
  background-repeat: repeat;
}

.form-head img {
  margin-left: -1vmin;
  float: left;
}

.id-form {
  margin-top: 15px;
}

.form-body {
  padding: 4vmin;
  background: url('../img/form-bg.png');
  overflow: auto;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.address-fields {
  overflow: auto;
  float: left;
  clear: both;
  width: 100%;
  overflow-y: hidden; /* Turning off vertical scrollbar */
}

.form-img {
  float:left;
  max-width: 20%;
}

.half-left {
    width: 50%;
    float: left;
}
.half-right {
    width: 50%;
    float: right;
}
.about-section, .branding-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.demo-section{
    text-align: center;
    overflow-y: hidden; /* Turning off vertical scrollbar */
}

.demo-section, .contact-section {
    height: 100%;
    padding-top: 150px;
}

#id-form-right {
  margin-bottom: 5vmin;
}

.about-section {
  background: white;
}

h1.section-header {
  font-size: 50px;
  background: #e14521;
  color: white;
  width: auto;
  overflow: auto;
  display: inline-block;
  padding: 20px;
  letter-spacing: 2px;
  text-align: center;
}

.reason {
  font-size: 20px;
  font-family: gravity;
  color: black;
  line-height: 2;
  margin-top: 10px;
}

.reason.summary {
  margin-top: 15px;
  margin-bottom: 15px;
}

.reason-body {
  padding: 20px;
  background-color: #2177e1;
  color: white;
  line-height: 2;
}

.reason-body > h2 {
  font-family: noodle;
  letter-spacing: 2px;
  font-size: 30px;
}
@media screen and (min-width: 992px) {
  .equal, .equal > div[class*='col-'] {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex:1 0 auto;
  }
}

.contact-section h1 {
  text-align: center;
}

#contact-form {
  color:white;
}

.contact-form-left {
  background: #2177e1;
  overflow: auto;
}

.contact-form-right {
  background: #e14521;
  padding: 15px;
  overflow: auto;
}

.contact-form-right-send {
  float: left;
  font-size: 8vmin;
  cursor: pointer;
}

.contact-form-right table {
  width: 100%;
  cursor: pointer;
}

.contact-form-right-table-left {
  width: 65%;
}

#contact-form input{
  font-size: 2vmin;
  font-family: noodle;
  background-color: #e14521;
  color:white;
  border-color: white;
  padding : .15vmin;
  float: left;
  clear: both;
  margin-left: 1vmin;
}

#contact-form input[type="text"] {
  width: 70%;
}
#contact-form textarea {
  width: 80%;
  float: left;
  clear: both;
  margin-left: 1vmin;
  font-size: 2vmin;
  font-family: noodle;
  background-color: #e14521;
  border-color: white;
  color:white;
}

.contact-form h2 {
  text-align: center;
  font-size: 5vmin;
  color: white;
  font-family: gravity
}

.contact-form p {
  font-size: 3vmin;
  color: white;
  font-family: gravity
}

#contact-form label {
  font-size: 3vmin;
  font-family: noodle;
  float: left;
  clear: both;
}

.contact-form-left-address-space {
  padding-left: 10vmin;
}

.contact-form-left-message{
  padding-top: 3vmin;
  text-align: center;
}
