<section id="contact" class="contact-section col-xs-12">
  <div class="container">
    <div class="row">
      <h1 class="section-header">Reach out to us</h1>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 contact-form contact-form-left">
        <p><span class="glyphicon glyphicon-envelope"></span> info@cryptid.xyz</p>
        <p><span class="glyphicon glyphicon-earphone"></span> (585)-123-4567</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> 1 Lomb Memorial Dr, Rochester, NY 14623</p>
      </div>
      <div class="col-md-12 col-sm-12 contact-form contact-form-right">
        <form action="" id="contact-form">
          <table>
            <tr>
              <td class="contact-form-right-table-left">
                <input name="user-name" type="text" placeholder="Name">
                <input name="user-email" type="text" placeholder="Email">
              </td>
            </tr>
          </table>
          <textarea name="user-email" cols="60" rows="6" placeholder="Your message here."></textarea>
          <input type="submit" class="hvr-buzz-out" value="Submit!">
        </form>
      </div>
    </div>
  </div>
</section>
