<section id="demo" class="demo-section col-xs-12">
  <div class="container">
    <div class="row">
      <h1 class="section-header">Request Your ID Today</h1>
      <div class="id-form-wrapper col-lg-8">
        <div class="form-head">
          <img src="public/img/id-top-header.png" class="img-responsive">
        </div>
        <div class="form-body">
          <div>
            <img src="public/img/id-headshot.png" class="img-responsive form-img"/>
            <form action="" id="id-form">
              <input class="thirty" type="text" name="dac" placeholder="First Name">
              <input class="thirty" type="text" name="dad" placeholder="Middle Name">
              <input class="thirty" type="text" name="dcs" placeholder="Last Name">
              <table>
                <tr>
                  <td class="id-header">
                    SEX
                  </td>
                  <td class="id-header">
                    EYE
                  </td>
                  <td class="id-header">
                    HEIGHT
                  </td>
                  <td class="id-header">
                    DOB
                  </td>
                </tr>
                <tr>
                  <td>
                    <select style="color:black" name="dbc">
                      <option value="1">M</option>
                      <option value="2">F</option>
                    </select>
                  </td>
                  <td>
                    <select style="color:black" name="day">
                      <option value="1">BRO</option>
                      <option value="2">BLU</option>
                      <option value="3">BLK</option>
                      <option value="4">GRY</option>
                      <option value="5">GRN</option>
                      <option value="6">HAZ</option>
                      <option value="7">MAR</option>
                      <option value="8">PNK</option>
                      <option value="9">DIC</option>
                      <option value="10">UNK</option>
                    </select>
                  </td>
                  <td>
                    <input type="number" name="dau">
                  </td>
                  <td>
                    <input type="date" name="dbb">
                  </td>
                </tr>
              </table>
              <div class="address-fields">
                <p class="id-header">Address</p>
                <input class="eighty" type="text" name="dag1" placeholder="Street">
                <input class="thirty" type="text" name="dai" placeholder="City">
                <input class="thirty" type="text" name="daj" placeholder="State">
                <input class="thirty" type="text" name="dak" placeholder="Zip Code">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div id="id-form-right" class="id-form col-lg-4">
        <p>Fill out this card and upload your fingerprints to register your free virtual Cryptid identification card!</p>
        <input type="file" class="upload-fp filestyle" data-classButton="file-button" data-input="true" data-classIcon="icon-plus" data-buttonText="Upload Your Fingerprint" name="fingerprint">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="verify-password" placeholder="Verify Password">
        <input type="submit" class="hvr-buzz-out" value="Register Your ID Now!">
      </div>
    </div>
  </div>
</section>
