    {{if eq .RunMode "dev"}}
      {{template "debug.html" .}}
    {{end}}
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/bootstrap-filestyle.min.js"></script>
    <script src="public/js/jquery.easing.min.js"></script>
    <script src="public/js/scrolling-nav.js"></script>
    <!-- Bar Code Scanner -->
    <script type="text/javascript" src="public/js/bar/qrcodelib.js"></script>
    <script type="text/javascript" src="public/js/bar/webcodecamjquery.js"></script>
    <script type="text/javascript" src="public/js/bar/mainjquery.js"></script>

    <script type="text/javascript" src="public/js/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43270336-6', 'auto');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript">
        function abortScan(){
            $('#webcodecam-canvas').hide();
            $('.fixed-top-center').hide();
            $('#webcodecam-canvas').toggleClass("show-fullscreen");
        }
    </script>
    <script type="text/javascript">
      $(document).ready(function()) {
          $('body').animate({
              scrollTop: $({{.location}}).offset().top
          }, 1500);
      });
    </script>
  </body>
</html>
