<section id="hero" class="hero-section col-xs-12">
  <div id="container">
    <div class="row">
      <div id="hero-call" class="row">
        <div class="half-left">
          <img class="logo-big" src="public/img/cryptid-logo-web-white.png"/>
          <h2>We're looking out for your identity.</h2>
        </div>
        <div class="half-right">
          <form action="" id="hero-form">
            <h2>Secure your identity now</h2>
            <input type="text" name="fn" placeholder="First Name">
            <input type="text" name="ln" placeholder="Last Name">
            <a class="page-scroll hvr-buzz-out" href="#demo"><button class="submit">Get Your ID Now!</button></a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
