<section id="how-it-works" class="how-it-works-section col-xs-12">
  <div class="container">
    <div class="row">
      <h1 class="section-header">How It Works</h1>
      <div class="col-lg-12">
        <div class="step bubble-bottom">
          <h3>Fill out the form</h3>
          <p>
            To begin, we take the data provided in the form and package it into a compact format readable by our systems and generate your Cryptid identification data.
          </p>
        </div>
        <div class="step bubble-bottom">
          <h3>Encrypted and Signed</h3>
          <p>
            All of your data is encrypted with the provided password. It is important that you do not forget this password as there is no way to recover it. We also have a "password of our own" (a private key) that is used to sign the data to prevent any counterfeit identification data.
          </p>
        </div>
        <div class="step bubble-bottom">
          <h3>Uploaded to the Blockchain</h3>
          <p>
            This is the last step in which your data will be in our hands. It will now be permanently transferred to the blockchain! This means your data cannot be manipulated by any authority or person, not even us.
          </p>
        </div>
        <div class="step last">
          <h3>Get your ID location</h3>
          <p>
            You are then given a unique identification number that points to your information on the block chain and can be stored on almost anything from magnetic stripes to QR codes. We currently use QR codes to store this on our standard issue identification cards.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
