<section id="verify" class="verify-section col-xs-12">
  <div class="container">
    <div class="row">
      <h1 class="section-header">Verify Your ID</h1>
      <div class="col-cs-12">
        <div id="camera-container-all">
          <div id="camera-canvas-all-options">
            <button onclick="start()" class="hvr-buzz-out begin-scan-button">Begin Scan</button>
            <div id="camera-select-options">
              <select class="form-control" id="camera-select"></select>
            </div>
          </div>
          <hr>
          <div class="fixed-top-center" onclick="abortScan()">
            <span class="glyphicon glyphicon-remove"></span>
          </div>
          <div id="camera-canvas-container">
            <canvas width="320" height="240" id="webcodecam-canvas"></canvas>
          </div>
          <hr>
          <ul></ul>
          <div class="result">
            Results
          </div>
        </div>
        <form id="verify-id-form" method="POST">
          <input type="text" id="chainIDBase64" name="chainIDBase64" placeholder="ID Number (Found on your QR code)">
          <input type="password" id="verify-password" name="password" placeholder="Password">
          <input type="button" id="verify-submit" class="hvr-buzz-out" value="Verify">
        </form>
      </div>
      <div>
        {{.}}
      </div>
    </div>
  </div>
</section>
